@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
	background: #333;
	margin-bottom: 50px;
}

h1{
	font-family: "Space Mono";
	font-size: 7em;
	color: #c71a14;
	text-align: center;
	margin-top: -10px;
}

.introtekst{
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 50px;
}

.nav{
	background: #574343;
	padding: 3px;
}

.nav ul{
	list-style-type: none;

}

.nav li{
	display: inline;
	padding-right: 25px;
}

.nav a{
	color: beige;
	text-decoration: none;
}

a:visited{
	color: indianred;
}

h2{
	font-family: "Space Mono";
	font-size: 2.5em;
	color: #c71a14;
}

h3{
	font-family: "Space Mono";
	font-size: 1.75em;
	color: #c71a14;
}

p{
	color: beige;
	font-size: 1.2em;
}

.reistabel{
	color: beige;
	border: 2px solid beige;
	border-collapse: collapse;
	margin: 5px
}

.reistabel th{
	border: 1px solid beige;
	padding: 3px;

}

.reistabel td{
	border: 1px solid beige;
	padding: 5px;
}

span{
	font-weight: bolder;
}