<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
		<div class="header cf">
			<div class="container">
				<div class="logo">
					LOGO
				</div>
				<div class="navigatie">
					Home Diensten
				</div>
			</div>
		</div>

		<div class="maincontent cf">
			<div class="container">
				<div class="sidebar">
					<h2>Contactgegevens</h2>
					<p>Schachtplein 1<br>3550 Heusdenzolder</p>
				</div>
				<div class="content">
					<h1>Hello world</h1>
					<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Provident nobis maiores quam quos qui culpa aut non odio quaerat consequatur, dolores ratione omnis voluptate nulla molestiae aliquam quibusdam eos eveniet rem ducimus totam. Ullam eum, ducimus voluptas saepe inventore autem sequi repudiandae voluptatum porro, illo eos dolorem necessitatibus. Animi, deleniti.</p>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="blokfooter">
					Copyright 2021
				</div>
			</div>
		</div>

	</div>
</body>
</html>